{% extends 'layout.html' %}

{% block body %}
  <h1>Leave Application</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.id, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.usn, class_="form-control", id="editor") }}
    </div>
    <div class="form-group">
        {{ render_field(form.year, class_="form-control", id="editor") }}
      </div>
      <div class="form-group">
        {{ render_field(form.leavedate, class_="form-control", id="editor") }}
      </div>
      <div class="form-group">
        {{ render_field(form.reason, class_="form-control", id="editor") }}
      </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}