<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>TechBytes</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="/static/gudigar_css/linearicons.css">
    <link rel="stylesheet" href="/static/gudigar_css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/gudigar_css/bootstrap.css">
    <link rel="stylesheet" href="/static/gudigar_css/magnific-popup.css">
    <link rel="stylesheet" href="/static/gudigar_css/nice-select.css">
    <link rel="stylesheet" href="/static/gudigar_css/animate.min.css">
    <link rel="stylesheet" href="/static/gudigar_css/owl.carousel.css">
    <link rel="stylesheet" href="/static/gudigar_css/main.css">
</head>

<body>

    <header id="header" id="home">
        <div class="container header-top">
			  		<!-- <div class="row">
				  		<div class="col-6 top-head-left">
				  			<ul>
				  				<li><a href="#">Visit Us</a></li>
				  				<li><a href="#">Buy Ticket</a></li>
				  			</ul>
				  		</div>
				  		<div class="col-6 top-head-right">
				  			<ul>
		  						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  			</ul>
				  		</div>			  			
			  		</div>
			  	</div> --> 
        <hr> 
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="/">Home</a></li>
                        <!-- <li><a href="event.html">Exibition</a></li> -->
                        {% if session.logged_in %}
                        <li><a href="/articles">Articles</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8">
                    <h1 class="text-white">STUDENT CORNER</h1>
                    <h3 class="text-white">
                        
                    </h3>
                    <p class="pt-20 pb-20 text-white">
                        <h1 style="color:azure">Student's Corner</h1>
                        <h2 style="color:azure">The directory of wonderful thing's</h2>
                    </p>
                    {% if session.logged_in %}
                    <a href="/logout" class="primary-btn text-uppercase">Logout</a> {% else %}
                    <a href="/register" class="primary-btn text-uppercase">Register</a>
                    <a href="/login" class="primary-btn text-uppercase">Login</a> {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start service Area -->
    <section class="service-area pt-100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service">
                        <span class="lnr lnr-pencil"></span>
                        <h4>Write</h4>
                        <p>
                            This is the most favorite section to the writers in the community.
                        </p>
                        <div class="overlay">
                            <div class="text">
                                <p>
                                    This is the place where the every writer make use of his writing skills to deliver beautiful messeges through his/her articles.
                                </p>
                                {% if session.logged_in %}
                                <a href="#" class="text-uppercase primary-btn">Write here</a> {% else %}
                                <a href="/login" class="primary-btn text-uppercase">Login to write</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <span class="lnr lnr-text-size"></span>
                        <h4>Read</h4>
                        <p>
                            The place which the reader's dont miss to visit.
                        </p>
                        <div class="overlay">
                            <div class="text">
                                <p>
                                    Experiance the emotions and the feelings of the writers through his writings.
                                </p>
                                {% if session.logged_in %}
                                <a href="#" class="text-uppercase primary-btn">Read here</a> {% else %}
                                <a href="/login" class="primary-btn text-uppercase">Login to Read</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <span class="lnr lnr-rocket"></span>
                        <h4>Gudigar Products</h4>
                        <p>
                            Breatiful Handcrafted products.
                        </p>
                        <div class="overlay">
                            <div class="text">
                                <p>
                                    Here, I focus on a range of items and features that are made by the skilled people in the community.
                                </p>
                                {% if session.logged_in %}
                                <a href="#" class="text-uppercase primary-btn">view here</a> {% else %}
                                <a href="/login" class="primary-btn text-uppercase">Login to view</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service Area -->

    <!-- Start quote Area -->
    <section class="quote-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 quote-left">
                    <h1>
                        <span>Tech</span> gives soul to the universe, <br> wings to the <span>mind</span>, flight <br> to the <span>imagination</span>.
                    </h1>
                </div>
                <div class="col-lg-6 quote-right">
                    <p>
                       <h2> Believe in Technology :) </h2>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End quote Area -->

    

    <!-- Start blog Area -->
    <section class="blog-area section-gap" id="blog">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Latest From Our Blog</h1>
                        <p>This is the favorite place for all writers in the community.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="https://i2.wp.com/daruliftaamw.com/wp-content/uploads/2019/05/Will-be-updated-soon.jpg?ssl=1" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>Blog 1</h4>
                    </a>
                    <p>
                        Will be updated
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="https://i2.wp.com/daruliftaamw.com/wp-content/uploads/2019/05/Will-be-updated-soon.jpg?ssl=1" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>Blog 2</h4>
                    </a>
                    <p>
                        Will be updated
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="https://i2.wp.com/daruliftaamw.com/wp-content/uploads/2019/05/Will-be-updated-soon.jpg?ssl=1" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>Blog 3</h4>
                    </a>
                    <p>
                        Will be updated
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="https://i2.wp.com/daruliftaamw.com/wp-content/uploads/2019/05/Will-be-updated-soon.jpg?ssl=1" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="#">
                        <h4>Blog 4</h4>
                    </a>
                    <p>
                        Will be updated
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- End blog Area -->

    <!-- Start gallery Area -->
    <section class="gallery-area section-gap" id="gallery">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div id="grid-container" class="row">
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/87293588_3807851875906805_8781646298412482560_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=CB2oQyPyN1sAX-4ioDM&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=651ca7768a863daebd2c9a15dc0e4513&oe=5F43E866"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/87293588_3807851875906805_8781646298412482560_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=CB2oQyPyN1sAX-4ioDM&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=651ca7768a863daebd2c9a15dc0e4513&oe=5F43E866"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/90946443_3926572944034697_1084023129598066688_n.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=YFckquDQuvAAX-7MxCc&_nc_ht=scontent.fblr8-1.fna&oh=b934703601e2e0a6cb143d8460a628eb&oe=5F432380"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/90946443_3926572944034697_1084023129598066688_n.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=YFckquDQuvAAX-7MxCc&_nc_ht=scontent.fblr8-1.fna&oh=b934703601e2e0a6cb143d8460a628eb&oe=5F432380"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/p960x960/92289170_3942936199065038_6642988503263084544_o.jpg?_nc_cat=106&_nc_sid=ca434c&_nc_ohc=4dyIEf_jVlIAX-XHc9e&_nc_ht=scontent.fblr8-1.fna&_nc_tp=6&oh=29d3cad47e561db669a19e55ac7a2f36&oe=5F4352EC"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/p960x960/92289170_3942936199065038_6642988503263084544_o.jpg?_nc_cat=106&_nc_sid=ca434c&_nc_ohc=4dyIEf_jVlIAX-XHc9e&_nc_ht=scontent.fblr8-1.fna&_nc_tp=6&oh=29d3cad47e561db669a19e55ac7a2f36&oe=5F4352EC"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/93505554_4001781403180517_2745309693642539008_n.jpg?_nc_cat=106&_nc_sid=ca434c&_nc_ohc=DWm7a2l4bfcAX81YMpg&_nc_ht=scontent.fblr8-1.fna&oh=0418c869b4328aea0418b622c7b23157&oe=5F42EEDC"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/93505554_4001781403180517_2745309693642539008_n.jpg?_nc_cat=106&_nc_sid=ca434c&_nc_ohc=DWm7a2l4bfcAX81YMpg&_nc_ht=scontent.fblr8-1.fna&oh=0418c869b4328aea0418b622c7b23157&oe=5F42EEDC"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/93661128_4014136468611677_7351255320775098368_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=k96v8HDPQYIAX9qYRso&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=f17b7a126fd0ed18c9f6d838924c20f6&oe=5F42EDF0"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/93661128_4014136468611677_7351255320775098368_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=k96v8HDPQYIAX9qYRso&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=f17b7a126fd0ed18c9f6d838924c20f6&oe=5F42EDF0"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-0/p600x600/94883267_4032383633453627_3056320133950603264_o.jpg?_nc_cat=105&_nc_sid=ca434c&_nc_ohc=DBwf0thj-eMAX9RZ1rF&_nc_ht=scontent.fblr8-1.fna&_nc_tp=6&oh=5882f8405f388ceacbd5828c4e3c7d3e&oe=5F409A42"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-0/p600x600/94883267_4032383633453627_3056320133950603264_o.jpg?_nc_cat=105&_nc_sid=ca434c&_nc_ohc=DBwf0thj-eMAX9RZ1rF&_nc_ht=scontent.fblr8-1.fna&_nc_tp=6&oh=5882f8405f388ceacbd5828c4e3c7d3e&oe=5F409A42"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/95609465_4059640754061248_637896432656842752_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=pp7zsoEnRK4AX8cZOo1&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=d068db72b3ea2ab7dc3e093e5158164b&oe=5F415FCE"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/95609465_4059640754061248_637896432656842752_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=pp7zsoEnRK4AX8cZOo1&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=d068db72b3ea2ab7dc3e093e5158164b&oe=5F415FCE"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/95609465_4059640754061248_637896432656842752_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=pp7zsoEnRK4AX8cZOo1&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=d068db72b3ea2ab7dc3e093e5158164b&oe=5F415FCE"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/95609465_4059640754061248_637896432656842752_o.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=pp7zsoEnRK4AX8cZOo1&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=d068db72b3ea2ab7dc3e093e5158164b&oe=5F415FCE"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/97257549_4101106159914707_2546568427141595136_o.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=bWQk9zTo4dYAX_4fswG&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=bc4ffe97a53b9f3b50e4a02daa7413e6&oe=5F408564"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/97257549_4101106159914707_2546568427141595136_o.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=bWQk9zTo4dYAX_4fswG&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=bc4ffe97a53b9f3b50e4a02daa7413e6&oe=5F408564"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/97257549_4101106159914707_2546568427141595136_o.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=bWQk9zTo4dYAX_4fswG&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=bc4ffe97a53b9f3b50e4a02daa7413e6&oe=5F408564"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/97257549_4101106159914707_2546568427141595136_o.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_ohc=bWQk9zTo4dYAX_4fswG&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=bc4ffe97a53b9f3b50e4a02daa7413e6&oe=5F408564"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/104565503_4248733725151949_6753645798483319719_n.jpg?_nc_cat=101&_nc_sid=ca434c&_nc_ohc=c0fHZNRjBCMAX_AMcFQ&_nc_ht=scontent.fblr8-1.fna&oh=2947a6bbcd7040e06bde3ef3a7cfb311&oe=5F424242"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/104565503_4248733725151949_6753645798483319719_n.jpg?_nc_cat=101&_nc_sid=ca434c&_nc_ohc=c0fHZNRjBCMAX_AMcFQ&_nc_ht=scontent.fblr8-1.fna&oh=2947a6bbcd7040e06bde3ef3a7cfb311&oe=5F424242"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/114894509_4402228973135756_3455519088236856252_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=4Yw40hVGNxkAX9cV5Xn&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=a73dde66ef55818b6d95d517f97501ab&oe=5F440B86"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/114894509_4402228973135756_3455519088236856252_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=4Yw40hVGNxkAX9cV5Xn&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=a73dde66ef55818b6d95d517f97501ab&oe=5F440B86"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/110195381_4394612553897398_921284068643022650_o.jpg?_nc_cat=107&_nc_sid=ca434c&_nc_ohc=CqoUuGjjkBwAX_WG11f&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=acf47dcc988093c5e47ced29a218ca07&oe=5F424F33"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/110195381_4394612553897398_921284068643022650_o.jpg?_nc_cat=107&_nc_sid=ca434c&_nc_ohc=CqoUuGjjkBwAX_WG11f&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=acf47dcc988093c5e47ced29a218ca07&oe=5F424F33"></a>
                <a class="single-gallery" href="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/116192794_4425140827511237_5031434359227649917_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=yTE_jra8drcAX8tigdb&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=59dd07e45a3cba06168069e0d5f78cde&oe=5F43A34E"><img class="grid-item" src="https://scontent.fblr8-1.fna.fbcdn.net/v/t1.0-9/s960x960/116192794_4425140827511237_5031434359227649917_o.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=yTE_jra8drcAX8tigdb&_nc_ht=scontent.fblr8-1.fna&_nc_tp=7&oh=59dd07e45a3cba06168069e0d5f78cde&oe=5F43A34E"></a>
            </div>
        </div>
    </section>
    <!-- End gallery Area -->


    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Post matters related to upliftment of Gudigars, news related to art, information etc.. You can also use this forum to share pictures of community activities
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->


                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="https://www.facebook.com/groups/gudigarlook/about/"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="static/assets/gudigar_js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/assets/gudigar_js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/assets/gudigar_js/easing.min.js"></script>
    <script src="static/assets/gudigar_js/hoverIntent.js"></script>
    <script src="static/assets/gudigar_js/superfish.min.js"></script>
    <script src="static/assets/gudigar_js/jquery.ajaxchimp.min.js"></script>
    <script src="static/assets/gudigar_js/jquery.magnific-popup.min.js"></script>
    <script src="static/assets/gudigar_js/owl.carousel.min.js"></script>
    <script src="static/assets/gudigar_js/imagesloaded.pkgd.min.js"></script>
    <script src="static/assets/gudigar_js/justified.min.js"></script>
    <script src="static/assets/gudigar_js/jquery.sticky.js"></script>
    <script src="static/assets/gudigar_js/jquery.nice-select.min.js"></script>
    <script src="static/assets/gudigar_js/parallax.min.js"></script>
    <script src="static/assets/gudigar_js/mail-script.js"></script>
    <script src="static/assets/gudigar_js/main.js"></script>
</body>

</html>